.inputStyle {
  width: 390px;
}

.submitButtonStyle {
  width: 200px;
  text-transform: unset !important;
}

.forgotPasswordButtonStyle {
  width: 150px;
  text-transform: unset !important;
  text-decoration-line: underline !important;
}
